<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="header-icon" src="assets/icon.png" [attr.alt]="i18n.t('feed.title')" />
    </ion-buttons>
    <ion-title>{{ i18n.t('profile.title') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ i18n.t('profile.title') }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-content">
    <ion-card>
      <ion-card-header>
        <div class="icon-wrapper">
          <ion-icon name="shield-checkmark-outline" size="large" color="primary" />
        </div>
        <ion-card-title>{{ i18n.t('profile.claimTitle') }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ i18n.t('profile.claimDescription') }}</p>
        <p class="coming-soon">
          <ion-text color="medium"><em>{{ i18n.t('profile.comingSoon') }}</em></ion-text>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
